<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".BotCoinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/botcoin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/botcoin"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotCoin"
        tools:replace="android:allowBackup,icon,theme,label">
        <activity android:name=".view.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="za.co.botcoin.view.settings.AutoTradeActivity"/>
        <activity android:name="za.co.botcoin.view.trade.TradeActivity"/>
        <activity android:name="za.co.botcoin.view.orderBook.OrderBookActivity"/>
        <activity android:name="za.co.botcoin.view.wallet.WalletActivity"/>
        <activity android:name="za.co.botcoin.view.menu.MenuActivity"/>

        <service android:name="za.co.botcoin.services.BotService"/>
        <service android:name="za.co.botcoin.services.FiboService"/>
        <service android:name="za.co.botcoin.services.OrderBookService"/>
    </application>

</manifest>